* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #1f3756;
}


.container-main {
  width: 500px;
  margin: 0 auto;
  border: 1px solid gray;
  text-align: center;
}

.container-game {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 50px auto;
}

.game-player {
  color: #fff;
  font-size: 25px;
}

.case {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.case3 {
  grid-row: 2/3;
  grid-column: 1/3;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  border: 10px solid green;
  border-radius: 50%;
  background: cornsilk;
}

.action {
  width: 40px;
  height: 50px;
}

/* Buttons */

.btn {
  padding: 10px 15px;
}

.result {
  display: none;
}

.restart {
  display: none;
}

