* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(#1f3756, #141539);
  font-family: 'Barlow Semi Condensed', sans-serif;
}


.container-main {
  padding-top: 60px;
  max-width: 500px;
  margin: 0 auto;
  /* border: 1px solid gray; */
  text-align: center;
}

.container-game {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 50px auto;
}

.game-player {
  color: #fff;
  font-size: 25px;
}

.case {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.case3 {
  grid-row: 2/3;
  grid-column: 1/3;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  border: 10px solid rgb(214, 145, 18);
  border-radius: 50%;
  background: cornsilk;
  transition: .3s;
  box-shadow: 5px 5px 19px 5px rgba(0,0,0,0.39);
}

.paper {
  border: 10px solid rgb(70, 109, 236);
}


.rock {
  border: 10px solid rgb(236, 76, 70);
}

.active {
  border: 10px solid green;
  background: rgb(176, 214, 154);
  width: 130px;
  height: 130px;

}

.action {
  width: 40px;
  height: 50px;
}

.end {
  border: 10px solid rgb(139, 139, 139);
  background: rgb(206, 211, 204);
  width: 90px;
  height: 90px;
}

.result-winner {
  height: 50px;
  margin-bottom: 30px;
}


.player-winner {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
  /* display: none; */
}

/* Buttons */

.btn {
  width: 200px;
  padding: 15px 0;
  background: #fff;
  border: none;
  border-radius: 7px;
  text-transform: uppercase;
}

.result {
  display: none;
}

.restart {
  display: none;
}

